{% macro render_pagination(current_page, total_pages) %}
    {% if total_pages > 1 %}
        <div class="pagination">
            {% if current_page > 1 %}
                <a href="{{ url_for(request.endpoint, **dict(request.view_args, **dict(request.args, page=current_page-1))) }}" class="pagination-button">Forrige side</a>
            {% endif %}
            
            <span class="pagination-info">Side {{ current_page }} af {{ total_pages }}</span>
            
            {% if current_page < total_pages %}
                <a href="{{ url_for(request.endpoint, **dict(request.view_args, **dict(request.args, page=current_page+1))) }}" class="pagination-button">Næste side</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}